@import "variables";

// ------------------------
// Bootstrap navbars
// ------------------------
.navbar-nav .nav-item .nav-link {
  font-family: $font-family-secondary;
  font-size: 16px;
  color: $yellow-color;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin: 26px 16px;
  padding: 0;
  display: inline-block;
}

.navbar-nav .nav-item .nav-link {
  &:hover, &:focus {
    color: $white-color;
  }
}