@import "bootstrap.min.css";
.bg-gray {
  background-color: #484C4E !important;
}

.text-white {
  color: #ffffff !important;
}

.text-muted {
  color: #D6D6D6 !important;
}

.text-secondary {
  color: #878889 !important;
}

.text-dark {
  color: #1E1C1C !important;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.font-size-xs {
  font-size: 14px;
}

.font-size-sm {
  font-size: 18px;
}

.font-size-md {
  font-size: 22px;
}

.font-size-lg {
  font-size: 36px;
}

.font-size-xl {
  font-size: 52px;
}

.navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #ffffff;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin: 26px 16px;
  padding: 0;
  display: inline-block;
  text-transform: uppercase;
}

.navbar-nav .nav-item .nav-link:hover, .navbar-nav .nav-item .nav-link:focus {
  color: #D2C05B;
}

.btn-primary {
  font-size: 18px;
  line-height: 26px;
  background-color: #D2C05B;
  color: #ffffff;
  border: none;
  text-align: center;
  padding: 16px 36px;
  margin: 1px;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #ffffff !important;
  border: 1px solid #D2C05B !important;
  color: #D2C05B !important;
  outline: none !important;
  box-shadow: 0px 15px 18px rgba(87, 74, 151, 0.21);
  margin: 0px;
}

.btn:active, .btn:focus {
  outline: none !important;
  box-shadow: none;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #1E1C1C;
}

p {
  font-family: "Montserrat-Regular", sans-serif;
  color: #1E1C1C;
}

.main-section {
  background-image: url("../images/main.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 220px 0px;
}

.form-group input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #878889;
  background: transparent;
  padding: 8px 10px;
  margin-bottom: 35px;
  color: #878889;
  border-radius: 0px;
}

.line-lg {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  bottom: -20px;
  left: 0;
}

.img-card {
  width: 20%;
}

.card {
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.card:hover {
  border-color: #D2C05B;
}

/*# sourceMappingURL=style.css.map */
