@import "variables";

.text-white {
  color: $white-color!important;
}

.text-secondary {
  color: $gray-color!important;
}

.text-muted {
  color: $gray-color-195!important;
}

.text-warning {
  color: $yellow-color-176!important;
}

.text-yellow {
  color: $yellow-color!important;
}

.text-dark {
  color: $black-color!important;
}


