$font-family-primary: 'Source Code Pro-Regular', sans-serif;
$font-family-secondary: 'Source Code Pro-Medium', sans-serif;
$font-family-source-code-pro-semibold: 'Source Code Pro-Semibold', sans-serif;
$font-family-montserrat-medium: 'Montserrat-Medium', sans-serif;
$font-family-montserrat-semibold: 'Montserrat-Semibold', sans-serif;

$white-color: #ffffff;
$gray-color-243: #F3F3F1;
$gray-color-195: #C3BFBF;
$gray-color: #878682;
$yellow-color-176: #B09E6F;
$yellow-color: #BD8800;
$black-color: #242321;

$xss-screen: 320px;
$xs-screen: 375px;
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;