$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Montserrat-Regular', sans-serif;

$white-color: #ffffff;
$light-gray-color: #D6D6D6;
$gray-color: #878889;
$dark-gray-color: #484C4E;
$yellow-color: #D2C05B;
$black-color: #1E1C1C;

$xss-screen: 320px;
$xs-screen: 375px;
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;

$font-size-xs: 14px;
$font-size-sm: 18px;
$font-size-md: 22px;
$font-size-lg: 36px;
$font-size-xl: 52px;